
body {
    font-family: 'Share';
    font-size: 18px;
    font-weight: 540;
    color: rgba(36, 41, 47, 0.9);
}

#root {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.list {
    width: 300px;
}

.user, .detail {
    border: 1px solid rgba(36, 41, 47, 0.2);
    padding: 18px 15px;
}

.user:hover {
    background-color: #218bff;
    color: #ffffff;
}

.user:not(:last-child), .detail:not(:last-child) {
    border-bottom: none;
}

.user:last-child, .detail:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.user:first-child, .detail-image {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.details{
    width: 350px;
    position: relative;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}

.detail {
    padding: 8px 15px;
}

.details-name{
    padding-top: 14px;
    padding-bottom: 18px;
    font-size: 20px;
    font-weight: 550;
}

.preloader {
    /*фиксированное позиционирование*/
    position: absolute;
    /* координаты положения */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* фоновый цвет элемента */
    background: #e0e0e0;
    /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
    z-index: 1001;
}

.preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #337ab7;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
}

@keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes preloader-bounce {

    0%,
    100% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}

.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}

.loaded .preloader {
    display: none;
}